# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Atom settings ignored files/directories
storage
compile-cache
dev
.npm
.node-gyp
blob-store

# Log Files
*.log
